<html>

<body bgcolor=#a3cfb4>

    <center>

        {% if data=='fit' %}
        <h1>FIT PREDICTION: FIT</h1>
        <h2>SIZE RECOMMENDATION: {{ b }}</h2>

        {% elif data=='small' %}
        <h1>FIT PREDICTION: SMALL</h1>
        <h2>We recommend you a larger size than {{ b }}</h2>

        {%else%}
        <h1>FIT PREDICTION: LARGE</h1>
        <h2>We recommend you a smaller size than {{ b }}</h2>

        {%endif%}

        <br><br>
        <a href='/'>go back to home page</a>

    </center>

</body>

</html>