<!DOCTYPE html>

<body bgcolor=#DDA0DD>

    <center>

        <h1> MODCLOTH SIZE RECOMMENDATION</h1><br>

        <form method="POST" , action="{{url_for('home')}}">
            <label for="select-choice">Cup Size:</label>
            <select name="a" id="select-choice">
                <option value="" selected disabled>Select</option>
                <option value="0">a</option>
                <option value="1">aa</option>
                <option value="2">b</option>
                <option value="3">c</option>
                <option value="4">d</option>
                <option value="5">dd/e</option>
                <option value="6">ddd/f</option>
                <option value="7">dddd/g</option>
                <option value="8">h</option>
                <option value="9">i</option>
                <option value="10">j</option>
                <option value="11">k</option>
                <option value="12">unknown</option>

            </select><br><br>
            <label for="bra-size">Bra Size:</label>
            <input type="text" name="b" id="bra-size" placeholder="b/w 28-44" required />
            <br><br>

            <label for="select-choice">Length:</label>
            <select name="c" id="select-choice">
                <option value="" selected disabled>Select</option>
                <option value="0">just-right</option>
                <option value="1">slightly-long</option>
                <option value="2">slightly-short</option>
                <option value="3">very-long</option>
                <option value="4">very-short</option>

            </select><br><br>

            <label for="select-choice">Hips:</label>
            <select name="d" id="select-choice">
                <option value="" selected disabled>Select</option>
                <option value="0">L</option>
                <option value="1">M</option>
                <option value="2">Plus-size</option>
                <option value="3">S</option>
                <option value="4">unknown</option>
                <option value="5">XL</option>
                <option value="6">XS</option>


            </select>
            <br><br>

            <label for="height">Height:</label>
            <input type="text" name="e" id="height" placeholder="In centimeters" required /><br><br>

            <label for="first-name">First time user: </label>
            <label for="radio-choice-1">Yes</label>
            <input type="radio" name="f" id="radio-choice-1" value="1" />

            <label for="radio-choice-2">No</label>
            <input type="radio" name="f" id="radio-choice-2" value="0" />

            <br><br>

            <label for="select-choice">Category:</label>
            <select name="g" id="select-choice">
                <option value="" selected disabled>Select</option>
                <option value="0">Bottoms</option>
                <option value="1">Dresses</option>
                <option value="2">New-arrivals</option>
                <option value="3">Outerwear</option>
                <option value="4">Sale</option>
                <option value="5">Tops</option>
                <option value="6">Wedding</option>


            </select>
            <br><br>

            <label for="size">Size:</label>
            <input type="text" name="h" id="size" placeholder="b/w 0-25" required />
            <br><br>


            <input type="submit" , value='predict!'>
        </form>

    </center>

</body>

</html>