<html>

<head>
    <!-- <title>Photos Grid</title> -->
    <link rel="stylesheet" type="text/css" href="static\styling.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,800;1,700&display=swap" rel="stylesheet"> -->

</head>

<body bgcolor=#a3cfb4>

    <center>
        <div>
            <h1> SIZE RECOMMENDATION : </h1>
        </div>

        {%if data == 0%}
        <h1>0</h1>

        {%elif data == 1%}
        <h1>1</h1>

        {%elif data == 2%}
        <h1>2</h1>

        {%elif data == 3%}
        <h1>3</h1>

        {%elif data == 4%}
        <h1>4</h1>

        {%elif data == 5%}
        <h1>5</h1>

        {%elif data == 6%}
        <h1>6</h1>

        {%elif data == 7%}
        <h1>7</h1>

        {%elif data == 8%}
        <h1>8</h1>

        {%elif data == 9%}
        <h1>9</h1>

        {%elif data == 10%}
        <h1>10</h1>

        {%elif data == 11%}
        <h1>11</h1>

        {%elif data == 12%}
        <h1>12</h1>

        {%elif data == 13%}
        <h1>13</h1>

        {%elif data == 14%}
        <h1>14</h1>

        {%elif data == 15%}
        <h1>15</h1>

        {%elif data == 17%}
        <h1>17</h1>

        {%elif data == 18%}
        <h1>18</h1>

        {%elif data == 20%}
        <h1>20</h1>

        {%elif data == 21%}
        <h1>21</h1>

        {%elif data == 24%}
        <h1>24</h1>

        {%else%}
        <h1>25</h1>

        {%endif%}

        <div>
            <h1>FIT PREDICTION : </h1>
        </div>
        {% if a=='fit' %}
        <h1>FIT</h1>

        {% elif a=='small' %}
        <h1>SMALL</h1>
        <h2>We recommend you a larger size than {{ data }}</h2>

        {%else%}
        <h1>LARGE</h1>
        <h2>We recommend you a smaller size than {{ data }}</h2>

        {%endif%}

        {%if category == '0'%}
        <h1><span style="text-decoration: underline;">Category</span> - Bottoms</h1>
        <img src="static\bottoms\IMG-0596.jpg">
        <img src="static\bottoms\IMG-0597.jpg">
        <img src="static\bottoms\IMG-0598.jpg">
        <img src="static\bottoms\IMG-0599.jpg">
        <img src="static\bottoms\IMG-0600.jpg">
        <img src="static\bottoms\IMG-0601.jpg">
        <img src="static\bottoms\IMG-0602.jpg">
        <img src="static\bottoms\IMG-0603.jpg">
        <img src="static\bottoms\IMG-0604.jpg">

        <a href="https://modcloth.com/collections/bottoms">Click me to go to Bottoms</a>

        {%elif category == '1'%}
        <h1><span style="text-decoration: underline;">Category</span> - Dresses</h1>
        <img src="static\dresses\IMG-1394.jpg">
        <img src="static\dresses\IMG-1382.jpg">
        <img src="static\dresses\IMG-1383.jpg">
        <img src="static\dresses\IMG-1384.jpg">
        <img src="static\dresses\IMG-1385.jpg">
        <img src="static\dresses\IMG-1386.jpg">
        <img src="static\dresses\IMG-1387.jpg">
        <img src="static\dresses\IMG-1388.jpg">
        <img src="static\dresses\IMG-1389.jpg">
        <a href="https://modcloth.com/collections/dresses">Click me to go to Dresses</a>


        {%elif category == '2'%}
        <h1><span style="text-decoration: underline;">Category</span> - New arrivals</h1>
        <img src="static\newarrivals\IMG-1367.jpg">
        <img src="static\newarrivals\IMG-1368.jpg">
        <img src="static\newarrivals\IMG-1369.jpg">
        <img src="static\newarrivals\IMG-1370.jpg">
        <img src="static\newarrivals\IMG-1371.jpg">
        <img src="static\newarrivals\IMG-1372.jpg">
        <img src="static\newarrivals\IMG-1373.jpg">
        <img src="static\newarrivals\IMG-1374.jpg">
        <img src="static\newarrivals\IMG-1375.jpg">
        <a href="https://modcloth.com/collections/new-arrivals">Click me to go to New arrivals</a>



        {%elif category == '3'%}
        <h1><span style="text-decoration: underline;">Category</span> - Outerwear</h1>
        <img src="static\outerwear\IMG-0611.jpg">
        <img src="static\outerwear\IMG-0612.jpg">
        <img src="static\outerwear\IMG-0613.jpg">
        <img src="static\outerwear\IMG-0614.jpg">
        <img src="static\outerwear\IMG-0615.jpg">
        <img src="static\outerwear\IMG-0616.jpg">
        <img src="static\outerwear\IMG-0617.jpg">
        <img src="static\outerwear\IMG-0618.jpg">
        <img src="static\outerwear\IMG-0619.jpg">
        <a href="https://modcloth.com/collections/outerwear">Click me to go to Outerwear</a>


        {%elif category == '4'%}
        <h1><span style="text-decoration: underline;">Category</span> - Sale</h1>
        <img src="static\sale\20210521_121219.jpg">
        <img src="static\sale\20210521_121647.jpg">
        <img src="static\sale\20210521_123439.jpg">
        <img src="static\sale\20210521_124902.jpg">
        <img src="static\sale\20210521_124919.jpg">
        <img src="static\sale\20210521_125010.jpg">
        <img src="static\sale\20210521_125342.jpg">
        <img src="static\sale\20210521_125354.jpg">
        <img src="static\sale\20210521_125407.jpg">
        <a href="https://modcloth.com/collections/sale">Click me to go to Sale</a>


        {%elif category == '5'%}
        <h1><span style="text-decoration: underline;">Category</span> - Tops</h1>
        <img src="static\tops\20210520_115624.jpg">
        <img src="static\tops\20210521_114357.jpg">
        <img src="static\tops\20210521_121207.jpg">
        <img src="static\tops\20210521_121714.jpg">
        <img src="static\tops\20210521_121734.jpg">
        <img src="static\tops\20210521_121752.jpg">
        <img src="static\tops\20210521_123419.jpg">
        <img src="static\tops\20210521_123454.jpg">
        <img src="static\tops\20210521_124050.jpg">
        <a href="https://modcloth.com/collections/tops">Click me to go to Tops</a>



        {%elif category == '6'%}
        <h1><span style="text-decoration: underline;">Category</span> - Wedding</h1>
        <img src="static\wedding\IMG-01.jpg">
        <img src="static\wedding\IMG-02.PNG">
        <img src="static\wedding\IMG-03.PNG">
        <img src="static\wedding\IMG-04.PNG">
        <img src="static\wedding\IMG-05.jpg">
        <img src="static\wedding\IMG-06.PNG">
        <img src="static\wedding\IMG-07.jpg">
        <img src="static\wedding\IMG-08.PNG">
        <img src="static\wedding\IMG-09.JPG">
        <a href="https://modcloth.com/collections/wedding-dresses">Click me to go to Wedding</a>


        {%endif%}



        <br><br>
        <a href='/'>go back to home page</a>

    </center>

</body>

</html>